.btn_div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2%;
	margin-bottom: 2%;
	flex-direction: column;
}

.convtext {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	flex-direction: column-reverse;
}

#conversation {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	flex-direction: column-reverse;
}

#wait {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	flex-direction: column;
}