<html>
    {% include "header.html" %}
    
    <body>
      <div class="btn_div">
        <button id="btnStart" class="btn btn-success" style="display:none">start recording</button>
        <button id="btnNew" class="btn btn-success" style="display:none">New word</button>
        <div class="spinner-border text-primary" role="status" id="wait">
          
        </div>
      </div>

      <div id="conversation"></div>
      <audio id="audioPlay" autoplay></audio>
      

    </body>

     <script type="module" src="{{url_for('static', filename='main_vocabulary.js')}}"></script>


  </script>
</html>
